$neutral-950: #000000;
$neutral-900: #1f1f1f;
$neutral-800: #2d2d2d;
$neutral-700: #3a3a3a;
$neutral-500: #757575;
$neutral-200: #e9e9e9;
$neutral-100: #f4f4f4;
$neutral-0: #ffffff;
$purple-500: #a445ed;
$purple-600: #8f1e98;
$red-500: #ff5252;

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: $purple-500;
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 9999px;
  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    color-stop(0.5, rgba(255, 255, 255, 0.2)),
    color-stop(0.5, transparent),
    to(transparent)
  );
}

// Default
body,
.option-sans {
  font-family: var(--font-sans);
}

// Sans Serif
html[data-font="serif"] body,
.option-serif {
  font-family: var(--font-serif);
}

// Serif
html[data-font="mono"] body,
.option-mono {
  font-family: var(--font-mono);
}

.switch {
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 40px;
  height: 20px;
  border-radius: 16px;
  background-color: #979797;
  padding: 4px;
  transition: all 0.2s;

  &.switch-on {
    background-color: $purple-500;
    transition: all 0.2s;
  }

  .circle {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: white;
  }
}

.meaning-list {
  padding-left: 32px;
  display: flex;
  flex-direction: column;
  gap: 8px;

  li {
    list-style-type: disc;
    padding-left: 8px;

    &::marker {
      color: $purple-600;
    }
  }
}
